
<h1>Judge the team based on following criteria in the range of 0-10</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team) do |f| %>

      <%= f.label :TeamName %>
      <%= f.text_field :TeamName, class: 'form-control' %>
      
      <%= f.label :Synchronization %>
      <%= f.text_field :Synchronization, class: 'form-control' %>
      
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty, class: 'form-control' %>
      
      <%= f.label :correctness %>
      <%= f.text_field :correctness, class: 'form-control' %>
      
      <%= f.label :Stability %>
      <%= f.text_field :Stability, class: 'form-control' %>
      
      <%= f.label :Costume %>
      <%= f.text_field :Costume, class: 'form-control' %>

      <% if !current_user.admin? %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>