<h1>Add the participating Team</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for Team.new do |f| %>
     
      <%= f.label :"Team Name" %>
      <%= f.text_field :TeamName, class: 'form-control' %>

       <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>