<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is a Judging Site,the team with highest marks from all Judges will be the <b>Dancing Star Winner</b>
    </p>
  </body>
</html>