<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @teams.any? %>
      <h3>Teams To be judged: (<%= @teams.count %>)</h3>
      <ol class="microposts">
        <%= render @teams %>
      </ol>
    <% end %>
    </div>
</div>